 <br>
 <div class="jumbotron">
   <h1>Nameless City</h1>
   <p>“That is not dead which can eternal lie, And with strange aeons even death may die.” <sub>HP Lovecraft</sub></p>
       
       <% if current_user %>
       <div class="current">
           <sub><p><%= current_user.name %> wanders dreaming</p></sub>
           </div>
       <% end %>
 </div>
 
 <div class="points row">
   <div class="col-md-4">
     <h2>The Old Ones</h2>
     <p>In his house at R'lyeh dead Cthulhu waits dreaming</p>
   </div>
   <div class="col-md-4">
     <h2>King in Yellow</h2>
     <p>Have you found the Yellow Sign? Have you found the Yellow Sign? Have you found the Yellow Sign?</p>
   </div>
   <div class="col-md-4">
     <h2 class="glitch" data-text="Truth">Truth</h2>
     <p>Where does madness leave off and reality begin?</p>
   </div>
 </div>
